<nav class="small-nav navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <div class="contacts navbar-brand">
        <ul>
          <li class="contact-item"><fa-icon [icon]="phone"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="mail"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="map"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="fax"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="id"></fa-icon></li>
        </ul>
      </div>
      <ul class="navbar-nav">
        <div class="collapse navbar-collapse">
          <li class="nav-item">
            <span><fa-icon [icon]="login"></fa-icon></span>
            <a href="#" class="nav-link">LOGIN</a>
          </li>
          <li class="nav-item">
            <span><fa-icon [icon]="register"></fa-icon></span>
            <a href="#" class="nav-link">REGISTER</a>
          </li>
          <li class="nav-item">
            <fa-icon [icon]="search"></fa-icon>
          </li>
        </div>
      </ul>
    </div>
  </nav>