@import '../../../assets/styles/styles.scss';

#wrapper{
    font-family: $p-font;
    position: relative;
    #content {
        padding: 50px 0;
        background-color: #ffffff;
        margin: 0 !important;
        .container {  
            z-index: 0;
        
            .main-item {
                border: 0.05rem solid #eaeaea;
                margin-bottom: 40px;
                position: relative;
    
                .list-modification {
                    position: absolute;
                    right: 15px;
                    bottom: 5px;
                    visibility: hidden;
                    opacity: 0;
    
                    ul {
                        margin: 0;
    
                        li {
                            display: inline;
                            padding: 0 5px;
                        }
                    }   
                }
    
                div {
                    overflow: hidden;
                    padding: 0;
                    .img-main {
                        width: 100%;
                        height: auto;
                        padding: 0;
                        float: left;
                        transition: transform 2s ease 0s, filter 1.5s ease-in-out 1s;
                        transform-origin: center center;
                        filter: brightness(100%);
                        overflow: hidden;
                    }
            
                    .img-main:hover {
                        filter: brightness(130%);
                        transform: scale(1.3);
                    }
                }
                
                .description {
                    padding: 30px;
                    
                    .header-main {
                        .title {
                            align-items: center;

                            h2 {
                                @extend %headers-main;
                            }

                            p {
                                color: salmon;
                                margin: 0;
                                position: absolute;
                                right: 25px;
                            }
                        }
                        .sub-header {
                            margin-bottom: 10px;
            
                            .flex-items {
                                padding-left: 15px;
                            }
                        }
                    }
                    
                    .description-wrap {
                        overflow: hidden;
                        width:100%;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        .text-description {
                            font-size: 1.1rem;  
                            margin-bottom: 5px;                        
                        }
                    }
                    
            
                    .read-more {
                        color: $special-color;
                        font-family: 'Lora', serif;
                        font-size: 1rem;
                        font-weight: 800;
                        text-decoration: none;
                        opacity: 0.7;
                    }
            
                    .read-more:hover {
                        opacity: 1;
                        transition: 0.2s ease-in-out;
                    }
                }
            }
    
            .main-item:hover .list-modification {
                visibility: visible;
                opacity: 1;
                transition: 0.5s ease-in-out;
            }
        }
    }
}

.background-add-edit-dialog {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    .add-edit-dialog {
        background-color: #eee;
        opacity: 1 !important;
        border-radius: 10px;
        text-align: left;
        padding: 20px;
        z-index: 2;
        width: 400px;
    }
}