<div id="wrapper">
    <app-header></app-header>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="main col-xl-9 col-lg-12 col-md-12">
                    <app-control-content></app-control-content>
                    <div class="main-item row" *ngFor="let foodItem of blogsItem">
                        <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">
                            <img src="{{ foodItem.imgSrc }}" alt="{{ foodItem.imgAlt }}" class="img-main">
                        </div>
                        <div class="description col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12">
                            <div class="list-modification row">
                                <ul>
                                    <li>
                                        <button (click)="onEdit(foodItem.id)" class="btn btn-primary">Edit</button>
                                    </li>
                                    <li>
                                        <button (click)="onAdd()" class="btn btn-success">Add</button>
                                    </li>
                                    <li>
                                        <button (click)="onDelete(foodItem.id)" class="btn btn-danger">Delete</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-main">
                                <div class="title row">
                                    <h2 class="col-xl-6 col-lg-6">{{ foodItem.name }}</h2>
                                    <p>Server Status: {{ foodItem.serverStatus | serverStatus }}</p>
                                </div>
                                <div class="sub-header row">
                                    <div class="flex-items col-xl-4 col-lg-5 col-md-5 col-sm-5 col-5"><fa-icon [icon]="calendar"></fa-icon> {{ foodItem.date }}</div>
                                    <div class="flex-items col-xl-4 col-lg-5 col-md-5 col-sm-5 col-5"><fa-icon [icon]="flag"></fa-icon> {{ foodItem.category }}</div>
                                    <div class="flex-items col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"><fa-icon [icon]="likes"></fa-icon> {{ foodItem.likes }}</div>
                                </div>
                            </div>
                            <div class="description-wrap">
                                <p class="text-description">{{ foodItem.description }}</p>
                            </div>
                            <a routerLink="/blog-list/{{foodItem.id}}" class="read-more">Read more >></a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <app-pages></app-pages> 
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12">  
                    <app-side-bar></app-side-bar>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>

<div class="background-add-edit-dialog" *ngIf="isDialogOpen">
    <div class="add-edit-dialog">
        <app-blog-list-add-edit 
            (isDialogOpen)="getIsDialogOpenStatus($event)"
            (item)="addEditItem($event)"
            [isAdding]="isAdding"
            [editingItem]="editingItem"
        ></app-blog-list-add-edit>
    </div>
</div>