div {

    h2 {
        font-weight: 800;
        padding: 0;
    }

    form {
        margin: 20px 0 0;

        label {
            padding: 0;
            margin-bottom: 10px;
        }

        input {
            border: none;
            padding: 0;
        }
    
        button {
            padding: 0;
            height: 28px;
            margin: 20px 10px 0 0;
            max-width: 100px;
            align-items: center;
        }
        
        .btn-light {
            border: 0.1px solid black;
        }
    }
}

