<div class="container">
  <div class="row">
    <div class="social footer-item col-xl-4 col-xl-4 col-sm-12 col-12">
      <a href="#" class="logo">Foodyy</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
      <div class="contacts">
        <ul>
          <li class="contact-item"><fa-icon [icon]="phone"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="mail"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="map"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="fax"></fa-icon></li>
          <li class="contact-item"><fa-icon [icon]="id"></fa-icon></li>
        </ul>
      </div>
    </div>
    <div class="links footer-item col-xl-2 col-xl-2 col-sm-12 col-12">
      <h3>LINKS</h3>
      <ul class="vertical-menu ">
        <li class="vm-item"><a href="#">Top Food</a></li>
        <li class="vm-item"><a href="#">New Recipes</a></li>
        <li class="vm-item"><a href="#">How - to</a></li>
        <li class="vm-item"><a href="#">Tips</a></li>
        <li class="vm-item"><a href="#">Food Tour</a></li>
      </ul>
    </div>
    <div class="menus footer-item col-xl-2 col-xl-2 col-sm-12 col-12">
      <h3>MENU</h3>
      <ul class="vertical-menu">
        <li class="vm-item"><a href="#">Home</a></li>
        <li class="vm-item"><a href="#">Food</a></li>
        <li class="vm-item"><a href="#">Gallery</a></li>
        <li class="vm-item active"><a href="#">Blog</a></li>
        <li class="vm-item"><a href="#">About</a></li>
        <li class="vm-item"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="gallery footer-item col-xl-4 col-xl-4 col-sm-12 col-12p">
      <h3>GALLERY</h3>
      <div class="gallery-flex">
        <ul>
          <li class="gallery-item"><img src="assets/images/burgers.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/lasagna.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/pizza.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/steak.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/sushi.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/tacos.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/noodle.jpg" alt="" class="gallery-img"></li>
          <li class="gallery-item"><img src="assets/images/salmon.jpg" alt="" class="gallery-img"></li>
        </ul>
      </div>
    </div>
  </div>
</div>