<div class="sidebar">
    <input type="text" placeholder="Search...">
    <div class="categories">
        <h2>CATEGORIES</h2>
        <ul>
            <li><a href="#">Western Food</a></li>
            <li><a href="#">Eastern Food</a></li>
            <li><a href="#">Middle Eastern Food</a></li>
            <li><a href="#">Asian Food</a></li>
            <li><a href="#">Indian Food</a></li>
        </ul>   
    </div>

    <div class="recent-post">
        <h2>RECENT POST</h2>
        <div class="container">
            <div class="side-item row">
                <img src="assets/images/pho-bo.jpeg" alt="pho-bo" class="img-side col-xl-3 col-lg-4 col-sm-4 col-4">
                <div class="description col-xl-9 col-lg-8 colg-sm-8 col-8">
                    <a class="header-side" href="#">Pho Bo</a>
                    <div class="sub-header row">
                        <div class="flex-items col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"><fa-icon [icon]="calendar"></fa-icon> August 24, 2020</div>
                        <div class="flex-items col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"><fa-icon [icon]="likes"></fa-icon> 96</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="side-item row">
                <img src="assets/images/pad-thai.jpg" alt="pad-thai" class="img-side col-xl-3 col-lg-4 col-sm-4 col-4">
                <div class="description col-xl-9  col-lg-8 colg-sm-8 col-8">
                    <a class="header-side" href="#">Pad Thai</a>
                    <div class="sub-header row">
                        <div class="flex-items col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"><fa-icon [icon]="calendar"></fa-icon> July 22, 2020</div>
                        <div class="flex-items col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"><fa-icon [icon]="likes"></fa-icon> 47</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="side-item row">
                <img src="assets/images/ramen.jpg" alt="ramen" class="img-side col-xl-3 col-lg-4 col-sm-4 col-4">
                <div class="description col-xl-9  col-lg-8 colg-sm-8 col-8">
                    <a class="header-side" href="#">Ramen</a>
                    <div class="sub-header row">
                        <div class="flex-items col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"><fa-icon [icon]="calendar"></fa-icon> June 16, 2020</div>
                        <div class="flex-items col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"><fa-icon [icon]="likes"></fa-icon> 142</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="side-item row">
                <img src="assets/images/udon.jpg" alt="udon" class="img-side col-xl-3 col-lg-4 col-sm-4 col-4">
                <div class="description col-xl-9  col-lg-8 colg-sm-8 col-8">
                    <a class="header-side" href="#">Udon</a>
                    <div class="sub-header row">
                        <div class="flex-items col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"><fa-icon [icon]="calendar"></fa-icon> March 15, 2020</div>
                        <div class="flex-items col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"><fa-icon [icon]="likes"></fa-icon> 54</div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="tags">
        <h2>TAGS</h2>
        <div class="container">
            <div class="row">
                <a href="#" class="tag-item col-xl-6 col-lg-2 col-sm-2 col-4">Noodle</a>
                <a href="#" class="tag-item col-xl-6 col-lg-2 col-sm-2 col-4">Spicy</a>
                <a href="#" class="tag-item col-xl-6 col-lg-2 col-sm-2 col-4">Oily</a>
                <a href="#" class="tag-item col-xl-6 col-lg-2 col-sm-2 col-4">Crunchy</a>
            </div>
        </div>
    </div>
</div>
