form {
    padding: 20px;
    border: 0.5px solid black;
    vertical-align: center;

    label {
        margin-bottom: 0;
    }

    button {
        max-height: 28px;
        border: 0;
        padding: 0 10px;
    }

    a {
        color: red;
        font-size: 20px;
        position: absolute;
        right: 20px;
    }
}
