@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Crimson+Text&family=Satisfy&family=Roboto&family=Lora:ital@1&display=swap');

$main-font: 'Roboto', sans-serif;
$p-font: 'Crimson Text', serif;
$menu-font: 'Bebas Neue', cursive;

$special-color: #81b214;
$heading-color: #222831;

%headers-main {
    color: $heading-color;
    font-size: 2rem;
    margin-bottom: 0;
}

// PC
@media only screen and (min-width: 1200px) {
    // Footer 
    .links, .menus, .gallery {
        display: block !important;
    }
}

// iPad Pro
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    // Body
    .main {
        padding-bottom: 5%;
    }

    #main-nav {
        padding-bottom: 0;

        .nav-item {
            margin-left: 30px !important;
        }
    }
}

// iPad
@media only screen and (min-width: 768px) and (max-width: 991px) {
    // Header
    .logo {
        font-size: 2rem !important;
    }

    #main-nav {
        padding-bottom: 0;

        .nav-item {
            margin-left: 20px !important;

            .nav-link {
                font-size: 1.5rem !important;
            }
        }
    }
    .menu-header {
        font-size: 2rem !important;
        margin: 7% 0 !important;
    }

    .main {
        margin-bottom: 25px;
    }

    .sub-menu {
        display: none !important;
    }
}

// Horizontal Mobile
@media only screen and (max-width: 767px) {
    .nav-link {
        font-size: 1.2rem !important;
        margin: 1% !important;
        padding: 0 !important;
    }

    #main-nav {
        .nav-item {
            margin-left: 0 !important;
        }
    }

    #content {
        padding: 50px 0 !important;

        .main {
            margin-bottom: 25px;
        }
    
        .page-item {
            margin: 0 5% !important;
        }
    
        .menu-header {
            margin: 7% 0 !important;
        }
    }

    .footer-nav {
        .navbar-nav {
            display: none;
        }
    }
}

@media only screen and (max-width: 576px) {
    .small-nav {
        .container {
            padding: 0 !important;
        }
    }

    #content {
        padding: 20px 0 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    header {
        background-size: 100% 400px !important;

        .navbar-nav {
            padding-top: 10%;
        }

        #main-nav {
            .nav-item {
                margin-left: 0 !important;
            }
        }

        .menu-header {
            font-size: 2rem !important;
            margin: 15% 0 !important;
        }
    }

    .img-side {
        max-height: 75px;
    }

    footer {
        background-size: 100% 400px !important;
    }
}

// Hide Footer for mobile devices
li {
    list-style-type: none;
}

.links, .menus, .gallery {
    display: none;
}

.flex-container {
    display: flex;
}

.description {
    .sub-header {
        .flex-items {
            color: grey;
            font-size: 0.8rem;
            padding-right: 0;
        }
    }
}

.logo {
    color: white;
    font-family: 'Pacifico', cursive;
}

.small-nav {
    background-color: black !important;
    color: white;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

#wrapper{
    font-family: $p-font;

    header {
        background-image: url(../assets/images/background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
        .small-nav {

            .container {
                padding: 0 16px;
            }

            a {
                display: inline;
            }
            
            ul {
                margin-bottom: 0;
                display: flex;
            }

            .navbar-brand {
                padding: 0;

                .contact-item {
                    font-size: 15px;
                    margin: 0 15px 0 0;
                }
            }

            .collapse {
                padding: 0;

                .nav-item {
                    margin-left: 20px;
                }
                .nav-link {
                    padding-bottom: 0;
                }
            }
        }
        .container {
            padding: 0;
            
            .navbar {

                .navbar-brand {
                    padding: 0;
                }

                a {
                    text-decoration: none;
                }
    
                button {
                    background-color: $heading-color;
                }
    
                .logo {
                    font-size: 3rem;
                }
    
                .logo:hover {
                    color: $heading-color;
                    transition: 0.2s ease-in;
                }

                #main-nav {
                    padding-top: 20px;
                    padding-bottom: 0;

                    .nav-item {
                        display: inline;
                        margin-left: 60px;

                        .nav-link { 
                            font-family: $menu-font;
                            font-size: 35px;
                            color: $heading-color;
                        }
            
                        .nav-link:hover {
                            color: white;
                            transition: 0.2s ease-in;
                        }
                    
                        .active {
                            color: white;
                            text-decoration: underline;
                        }

                        .drop-down-horizontal {
                            background-color: transparent !important;
                            border: none !important;
                            display: flex;
                            left: 200px;

                            li {
                                margin: auto 10px;
                                position: relative;
                            }

                            img {
                                border: 0.5px solid black;
                                border-radius: 50px;
                                height: 75px;
                                width: 75px;
                                object-fit: cover;
                            }

                            li:hover {
                                animation: sub-menu-up-and-down;
                                animation-duration: 0.5s;
                                animation-fill-mode: backwards;
                            }

                            @keyframes sub-menu-up-and-down {
                                0% {
                                    top: 20px;
                                }

                                50% {
                                    top: -10px;
                                }

                                100% {
                                    top: 0;
                                }
                            }
                        }

                        .sub-menu {
                            background-color: white;
                            border: 1px solid black;
                            text-align: left;
                            text-decoration: none;
                            visibility: hidden;
                            position: absolute;
                            top: 120%;
                            opacity: 0;
                            transition: all 0.3s ease 0s;
                            li:hover a {
                                position: relative;
                                transition: ease-out;
                                animation-name: sub-menu-to-right;
                                animation-duration: 0.5s;
                                animation-fill-mode: forwards;
                            }

                            @keyframes sub-menu-to-right {
                                from {
                                    left: 0px;
                                }

                                to {
                                    left: 10px;
                                }
                            }

                            a {
                                color: $heading-color;
                                font-family: $menu-font;
                            }
                        }

                        .drop-down-vertical {
                            padding: 5px 40px 5px 20px;

                            li {
                                margin: 10px auto;
                            }
                        }
                    }

                    .nav-item:hover .sub-menu {
                        visibility: visible; 
                        top: 100%;
                            opacity: 1;
                    }

                    @keyframes sub-menu-fade-up {
                        from {
                            top: 150px;
                            opacity: 0;
                        }

                        to {
                            top: 75px;
                            opacity: 1;
                        }
                    }

                    .drop-down {
                        display: relative;
                    }
                }
            }

            div {
                padding-bottom: 10px;

                h1 {
                    color: white;
                    font-family: $main-font;
                    font-size: 3rem;
                    margin: 70px auto 50px;
                }
        
                .menu-breadcrumb {
                    color: $heading-color;
                    font-style: italic;
                }
        
                .menu-breadcrumb:hover {
                    color: white;
                    transition: 0.2s ease-in;
                }
            }
        }
    }

    #content {
        padding: 100px 0;
        background-color: white;
        margin: 0 !important;
        .main {
            .main-item {
                border: 0.05rem solid #eaeaea;
                margin-bottom: 40px;
                
                div {
                    overflow: hidden;
                    padding: 0;
                    .img-main {
                        width: 100%;
                        height: auto;
                        padding: 0;
                        transition: transform 2s ease 0s, filter 1.5s ease-in-out 1s;
                        transform-origin: center center;
                        filter: brightness(100%);
                        overflow: hidden;
                    }
    
                    .img-main:hover {
                        filter: brightness(130%);
                        transform: scale(1.3);
                    }
                }
                

                .description {
                    padding: 30px;

                    .header-main {
                        h2 {
                            @extend %headers-main;
                        }

                        .sub-header {
                            margin-bottom: 10px;
                        }
                    }
    
                    .text-description {
                        font-size: 1.1rem;  
                        margin-bottom: 5px;                
                    }
    
                    .read-more {
                        color: $special-color;
                        font-family: 'Lora', serif;
                        font-size: 1rem;
                        font-weight: 800;
                        text-decoration: none;
                        opacity: 0.7;
                    }
    
                    .read-more:hover {
                        opacity: 1;
                        transition: 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    .sidebar {
        vertical-align: top;
        position: relative;

        h2 {
            font-family: $main-font;
            font-size: 1.5rem;
            font-weight: 800;
            margin: 10% 0 5%;
        }

        h2::after {
            content: "";
            display: block;
            width: 20%;
            padding: 10px 0 0;
            margin-bottom: 30px;
            border-bottom: 3px solid $special-color;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url("../assets/icons/search-solid.svg");
            background-size: 20px 20px;
            background-position: 95% 50%; 
            background-repeat: no-repeat;
            padding: 8px 20px;
            margin-bottom: 20px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        
        button {
            background-color: #f9f7f7;
            color: $special-color;
            height: 36px;
            width: 36px;
        }
        
        button:hover {
            background-color: #dbe2ef;
            transition: ease-in;
        }
        
        .categories {
            li:after {
                content: '';
                display: block;
                padding: 5px 0;
                margin-bottom: 10px;
                border-bottom: 0.2px solid #dddddd;        
            }

            a {
                color: $heading-color;
                text-decoration: none;
            }
        
            a:hover {
                font-weight: 800;
            }
        }
    
        .recent-post {
            .side-item {
                margin-bottom: 5%;
            }

            .img-side {
                padding: 0;
                object-fit: cover;
            }
        
            .header-side {
                color: $heading-color;
                font-family: $main-font;
                font-size: 1.2rem;
                font-weight: 600;
                margin: 0 0 3% 0;
                text-decoration: none;
            }
            
            .header-side:hover {
                color: $special-color;
                transition: 0.2s ease-in;
            }
        }
        
        .tags {
            margin-bottom: 5%;

            .tag-item {
                color: $heading-color;
                background-color: #e0ece4;
                text-decoration: none;
            }

            .tag-item:hover {
                background-color: $special-color;
                transition: 0.2s ease-in;
            }
        }
    }
    
    .pages {
        justify-content: center;
        
        ul {

            text-align: center;

            li {
                display: inline;

                .page-item {
                    font-size: 1.2rem;
                    color: $heading-color;
                    margin: 0 10px;  
                
                    a {
                        color: $heading-color;
                        text-decoration: $heading-color;
                    }
                }
                
                .page-item:hover {
                    color: $special-color;
                }
                
                .cur-page {
                    color: $special-color;
                }
            }
        } 
    }

    footer {
        background-image: url(../assets/images/background.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        justify-content: center;

        .footer-item {
            margin-top: 2%;

            h3 {
                color: $heading-color;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.5rem;
                margin-bottom: 5%;
            }

            .logo {
                color: $heading-color;
                font-size: 2rem;
                text-decoration: none;
            }

            .logo:hover {
                color: white;
                transition: 0.2s ease-in;
            }
        }

        .social {
            color: white;

            p {
                line-height: 2;
                margin: 5% 0;
            }

            ul {
                li {
                    display: inline;
                }
            }

            .contact-item {
                margin: 0 10% 0 0;
            }
        }

        .vertical-menu {
            .vm-item {
                margin: 5% 0 5%;

                span {
                    font-size: 0.7rem;
                    color: white;
                }
    
                a {
                    text-decoration: none;
                    color: white;
                }
    
                a:hover {
                    color: $heading-color;
                    transition: 0.2s ease-in;
                }
            }
        }
        .gallery {

            .gallery-flex {
                flex-wrap: wrap;
                padding-top: 0;

                ul {
                    li {
                        display: inline;  
                    }
                }
    
                .gallery-img {
                    height: 75px;
                    width: 75px;
                    object-fit: cover;
                    margin: 0 10px 10px 0;
                }
            }
        }

        .nav-item {
            margin-left: 20px;
        }
    }
}