<section class="whole-page">
  <section class="header">
    <div class="topnav">
      <a href="#" class="logo">Foodyy</a>
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">Food</a>
      <a href="#" class="nav-item">Gallery</a>
      <a href="#" class="nav-item active">Blog</a>
      <a href="#" class="nav-item">About</a>
      <a href="#" class="nav-item">Contact</a>
    </div>
    <h1>BLOG LIST</h1>
    <a href="#" class="breadcrumb">Home</a>
    <span> > </span>
    <a href="#" class="breadcrumb">Blog</a>
  </section>

  <section class="body">
    <div class="main">
      <div class="main-item flex-container">
        <img src="assets/images/pho-bo.jpeg" alt="pho-bo" class="img-main">
        <div class="description">
          <h2 class="header-main">Pho Bo</h2>
          <div class="sub-header flex-container">
            <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> August 24, 2020</div>
            <div class="flex-items"><fa-icon [icon]="flag"></fa-icon> Vietnamese Food</div>
            <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 96</div>
          </div>
          <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ...</p><a class="read-more" href="#">Read more >></a>
        </div>
      </div>
      <div class="main-item flex-container">
        <img src="assets/images/pad-thai.jpg" alt="pad-thai" class="img-main">
        <div class="description">
          <h2 class="header-main">Pad Thai</h2>
          <div class="sub-header flex-container">
            <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> July 22, 2020</div>
            <div class="flex-items"><fa-icon [icon]="flag"></fa-icon> Thais Food</div>
            <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 47</div>
          </div>
          <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ...</p><a class="read-more" href="#">Read more >></a>
        </div>
      </div>
      <div class="main-item flex-container">
        <img src="assets/images/ramen.jpg" alt="ramen" class="img-main">
        <div class="description">
          <h2 class="header-main">Ramen</h2>
          <div class="sub-header flex-container">
            <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> June 16, 2020</div>
            <div class="flex-items"><fa-icon [icon]="flag"></fa-icon> Japanese Food</div>
            <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 142</div>
          </div>
          <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ...</p><a class="read-more" href="#">Read more >></a>
        </div>
      </div>
      <div class="main-item flex-container">
        <img src="assets/images/udon.jpg" alt="udon" class="img-main">
        <div class="description">
          <h2 class="header-main">Udon</h2>
          <div class="sub-header flex-container">
            <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> March 15, 2020</div>
            <div class="flex-items"><fa-icon [icon]="flag"></fa-icon> Japanese Food</div>
            <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 54</div>
          </div>
          <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ...</p><a class="read-more" href="#">Read more >></a>
        </div>
      </div>
    </div>

    <div class="side-bar">  
      <input type="text" placeholder="Search...">
      <button type="submit"><fa-icon [icon]="search"></fa-icon></button>
      <div class="categories">
        <h2>Categories</h2>
        <hr class="special-hr">
        <a href="#">Western Food</a><hr>
        <a href="#">Eastern Food</a><hr>
        <a href="#">Middle Eastern Food</a><hr>
        <a href="#">Asian Food</a><hr>
        <a href="#">Indian Food</a><hr>
      </div>
      <div class="recent-post">
        <h2>Recent Post</h2>
        <hr class="special-hr">
        <div class="side-item flex-container">
          <img src="assets/images/pho-bo.jpeg" alt="pho-bo" class="img-side">
          <div class="description">
            <a class="header-side" href="#">Pho Bo</a>
            <div class="sub-header flex-container">
              <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> August 24, 2020</div>
              <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 96</div>
            </div>
          </div>
        </div>
        <div class="side-item flex-container">
          <img src="assets/images/pad-thai.jpg" alt="pad-thai" class="img-side">
          <div class="description">
            <a class="header-side" href="#">Pad Thai</a>
            <div class="sub-header flex-container">
              <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> July 22, 2020</div>
              <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 47</div>
            </div>
          </div>
        </div>
        <div class="side-item flex-container">
          <img src="assets/images/ramen.jpg" alt="ramen" class="img-side">
          <div class="description">
            <a class="header-side" href="#">Ramen</a>
            <div class="sub-header flex-container">
              <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> June 16, 2020</div>
              <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 142</div>
            </div>
          </div>
        </div>
        <div class="side-item flex-container">
          <img src="assets/images/udon.jpg" alt="udon" class="img-side">
          <div class="description">
            <a class="header-side" href="#">Udon</a>
            <div class="sub-header flex-container">
              <div class="flex-items"><fa-icon [icon]="calendar"></fa-icon> March 15, 2020</div>
              <div class="flex-items"><fa-icon [icon]="likes"></fa-icon> 54</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tags">
        <h2>Tags</h2>
        <hr class="special-hr">
        <a href="#" class="tag-item">Noodle</a>
        <a href="#" class="tag-item">Spicy</a>
        <a href="#" class="tag-item">Oily</a>
        <a href="#" class="tag-item">Crunchy</a>
      </div>
    </div>

    <div class="pages flex-container">
      <div class="page-item"><a href="#"><fa-icon [icon]="left"></fa-icon></a></div>
      <div class="page-item"><a href="#">1</a></div>
      <div class="page-item"><a href="#">2</a></div>
      <div class="page-item cur-page"><a href="#">3</a></div>
      <div class="page-item"><a href="#">4</a></div>
      <div class="page-item"><a href="#">5</a></div>
      <div class="page-item"><a href="#"><fa-icon [icon]="right"></fa-icon></a></div>
    </div>
  </section>
  <section class="footer flex-container">
    <div class="social footer-item">
      <a href="#" class="logo">Foodyy</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
      <div class="contacts flex-container">
        <div class="contact-item"><fa-icon [icon]="phone"></fa-icon></div>
        <div class="contact-item"><fa-icon [icon]="mail"></fa-icon></div>
        <div class="contact-item"><fa-icon [icon]="map"></fa-icon></div>
        <div class="contact-item"><fa-icon [icon]="fax"></fa-icon></div>
        <div class="contact-item"><fa-icon [icon]="id"></fa-icon></div>
      </div>
    </div>
    <div class="links footer-item">
      <h3>LINKS</h3>
      <div class="vertical-menu">
        <div class="vm-item"><span>⮞ </span><a href="#">Top Food</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">New Recipes</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">How - to</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">Tips</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">Food Tour</a></div><br>
      </div>
    </div>
    <div class="menus footer-item">
      <h3>MENU</h3>
      <div class="vertical-menu">
        <div class="vm-item"><span>⮞ </span><a href="#">Home</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">Food</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">Gallery</a></div><br>
        <div class="vm-item active"><span>⮞ </span><a href="#">Blog</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">About</a></div><br>
        <div class="vm-item"><span>⮞ </span><a href="#">Contact</a></div><br>
      </div>
    </div>
    <div class="gallery footer-item">
      <h3>GALLERY</h3>
      <div class="gallery-flex flex-container">
        <div class="gallery-item"><img src="assets/images/burgers.jpg" alt="" class="gallery-img"></div>
        <div class="gallery-item"><img src="assets/images/lasagna.jpg" alt="" class="gallery-img"></div>
        <div class="gallery-item"><img src="assets/images/pizza.jpg" alt="" class="gallery-img"></div>
        <div class="gallery-item"><img src="assets/images/steak.jpg" alt="" class="gallery-img"></div>
        <div class="gallery-item"><img src="assets/images/sushi.jpg" alt="" class="gallery-img"></div>
        <div class="gallery-item"><img src="assets/images/tacos.jpg" alt="" class="gallery-img"></div>
      </div>
    </div>

  </section>
</section>