@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Crimson+Text&family=Satisfy&family=Roboto&family=Lora:ital@1&display=swap');

$p-font: 'Crimson Text', serif;
$h-font: 'Satisfy', cursive;
$h2-font: 'Roboto', sans-serif;
$nav-font: 'Bebas Neue', cursive;
$special-color: #81b214;
$heading-color: #222831;
%imgs-main {
    width: 300px;
    max-height: 240px;
    object-fit: cover;
}

%headers-main {
    color: $heading-color;
    font-family: $h-font;
    font-size: 2rem;
    margin-bottom: 0;
}

// PC
@media only screen and (min-width: 1200px) {
    // Header
    .logo {
        margin-right: 25% !important; 
    }

    // Footer 
    .links, .menus, .gallery {
        display: block !important;
    }
}

// iPad Pro
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    // Header
    .topnav {
        padding: 1% 10% !important;
    }

    .logo {
        margin-right: 15% !important;
    }

    // Body
    .main {
        padding-bottom: 5%;
    }

    .page-item {
        margin: 0 2% !important;
    }
    
    // Footer
    .social {
        padding-bottom: 5%;
    }
    
}

// iPad
@media only screen and (min-width: 768px) and (max-width: 991px) {
    // Header
    .logo {
        font-size: 2rem !important;
        margin-right: 15% !important;
    }

    .nav-link {
        font-size: 1.5rem !important;
    }

    .page-item {
            margin: 0 5% !important;
        }

    .selected-menu {
        font-size: 2rem !important;
        margin: 7% 0 !important;
    }

}

// Horizontal Mobile
@media only screen and (max-width: 767px) {
    .nav-link {
        font-size: 1.2rem !important;
        margin: 1% !important;
        padding: 0 !important;
    }

    .page-item {
        margin: 0 5% !important;
    }

    .selected-menu {
        margin: 7% 0 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    header {
        background-size: 100% 400px !important;

        .navbar-nav {
            padding-top: 10%;
        }

        .selected-menu {
            margin: 15% 0 !important;
        }
    }

    body {
        .page-item {
            margin: 0 5% !important;
        }

        .page-item:hover, .cur-page {
            background-color: white !important;
            font-weight: 600 !important;
        }
    }

    footer {
        background-size: 100% 400px !important;
    }
}

// Hide Footer for mobile devices
.links, .menus, .gallery {
    display: none;
}

.flex-container {
    display: flex;
}

.description {
    .sub-header {
        justify-content: space-around;
        margin-bottom: 5%;

        .flex-items {
            color: grey;
            font-size: 0.8rem;
        }
    }
}

.special-hr {
    border: none;
    background-color: $special-color;
    text-align: left;
    height: 0.2rem;
    width: 20%;
    margin-left: 0;
    margin-bottom: 10%;
    position: relative;
    left: 0;
}

.logo {
    color: white;
    font-family: 'Pacifico', cursive;
}


.whole-page {
    header {
        background-image: url(../assets/images/background.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 350px;
        margin: 0;
        text-align: center;
        
        .topnav {
            padding: 1% 10%;
        
            a {
                text-decoration: none;
            }

            button {
                background-color: $heading-color;
            }

            .logo {
                font-size: 3rem;
                margin-right: 5%;
            }

            .logo:hover {
                color: $heading-color;
                transition: 0.2s ease-in;
            }
        
            .nav-link { 
                font-family: $nav-font;
                font-size: 2rem;
                color: $heading-color;
                margin: 5% 2% 0;
            }

            .nav-link:hover {
                color: white;
                transition: 0.2s ease-in;
            }
        
            .active {
                color: white;
                text-decoration: underline;
            }
        }

        h1 {
            color: white;
            font-family: $h2-font;
            font-size: 3rem;
            margin: 3% auto;
        }

        .bread-crumb {
            color: $heading-color;
            font-style: italic;
            font-family: $p-font;
        }

        .bread-crumb:hover {
            color: white;
            transition: 0.2s ease-in;
        }
    }

    body {
        padding: 5% 15%;
        background-color: white;
        margin: 0 !important;
        .main {
            .main-item {
                border: 0.05rem solid #eaeaea;
                margin-bottom: 5%;
            
                .img-main {
                    @extend %imgs-main;
                }
                
                .header-main {
                    @extend %headers-main;
                }

                .info {
                    font-family: $p-font;
                    font-size: 1.1rem;                  
                }

                .read-more {
                    color: $special-color;
                    float: left;
                    font-family: 'Lora', serif;
                    font-size: 1rem;
                    font-weight: 800;
                    text-decoration: none;
                    overflow: hidden;
                    opacity: 0.7;
                }

                .read-more:hover {
                    opacity: 1;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }

    .side-bar {
        margin: auto;
        vertical-align: top;
        position: relative;
        
        input {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url("../assets/icons/search-solid.svg");
            background-size: 20px 20px;
            background-position: 95% 50%; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 20px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        
        button {
            background-color: #f9f7f7;
            color: $special-color;
            height: 36px;
            width: 36px;
        }
        
        button:hover {
            background-color: #dbe2ef;
            transition: ease-in;
        }
        
        h2 {
            font-family: $h2-font;
            margin: 10% 0 5%;
        }
    
        .categories {
            a {
                color: $heading-color;
                font-family: $p-font;
                text-decoration: none;
            }
        
            a:hover {
                font-weight: 600;
            }
        }
    
        .recent-post {
            .side-item {
                margin-bottom: 5%;
            }

            .img-side {
                padding-right: 0 !important;
                object-fit: cover;
            }
        
            .header-side {
                color: $heading-color;
                font-family: $h-font;
                font-size: 1.2rem;
                font-weight: 600;
                margin: 0 0 3% 0;
                text-decoration: none;
            }
            
            .header-side:hover {
                color: $special-color;
                transition: 0.2s ease-in;
            }
        }
        
        .tags {
            margin-bottom: 5%;

            .tag-item {
                color: $heading-color;
                background-color: #e0ece4;
                display: inline-block;
                text-decoration: none;
                text-align: center;
            }
        }
    
        .tag-item:hover {
            background-color: $special-color;
            transition: 0.2s ease-in;
        }
    }
    
    .pages {
        justify-content: center;
    
        .page-item {
            margin: 0 .5%;  
            padding: 0.2% 0.5%;
        
            a {
                color: $heading-color;
                text-decoration: $heading-color;
            }
        }
        
        .page-item:hover {
            background-color: $special-color;
        }
        
        .cur-page {
            background-color: $special-color;
        }
    }

    footer {
        background-image: url(../assets/images/background.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        justify-content: center;
        padding: 0 20%;
        margin: 0 !important;

        .footer-item {
            margin-top: 2%;
            
            li {
                list-style-type: none;
            }

            h3 {
                color: $heading-color;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.5rem;
                margin-bottom: 5%;
            }

            .logo {
                color: $heading-color;
                font-size: 2rem;
                text-decoration: none;
            }

            .logo:hover {
                color: white;
                transition: 0.2s ease-in;
            }
        }

        .social {
            color: white;

            p {
                line-height: 2;
                margin: 5% 0;
            }

            .contact-item {
                margin: 0 10% 0 0;
            }
        }

        .vertical-menu {
            .vm-item {
                margin: 10% 0 5%;

                span {
                    font-size: 0.7rem;
                    color: white;
                }
    
                a {
                    text-decoration: none;
                    color: white;
                }
    
                a:hover {
                    color: $heading-color;
                    transition: 0.2s ease-in;
                }
            }
        }
        .gallery {

            .gallery-flex {
                flex-wrap: wrap;

                .gallery-item {
                    margin-left: 0;
                    margin-right: 5%;
                }
    
                .gallery-img {
                    height: 75px;
                    width: 75px;
                    object-fit: cover;
                }
            }
        }
    }
}